
.table-facility {

    max-width: 980px;
    margin: 2.5em auto 0 0;
    
    tr {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 1em;
    }

    th {
        white-space: nowrap;
        background-color: rgba($colorBg, 0.35);
    }

    a {
        text-decoration: underline;
        color: $colorSub3;
    }

    @media (max-width: $breakpoint-tb) {
        th, td {
            display: block;
            width: 100%;
        }

        th {
            border-bottom: 1px dotted $colorBg;
        }
    }
}

#accessmap h2 {
    @include fontSize(20);
}

.googlemap {
    position: relative;
    max-width: $breakpoint-pc;
    height: 0;
    padding-bottom: 55%;
    overflow: hidden;
    margin: 2.5em auto;
    background: url(.././img/camera-loader.gif) no-repeat center;

    @media (max-width: $breakpoint-tb) {
        padding-bottom: 70%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.access-route {

    margin-top: -1.5em;

    .contents-box {
        border: 6px solid rgba($colorBg, 0.7);
        padding: .25em 2em 2em 2em;
        border-radius: 3px;
        // background-color: rgba($colorSub, .8);
    }

    h4 {
        border-bottom: 2px dotted $colorSub3;
        margin: 1.5em 0 1em 0;
        padding-bottom: .3em;
        // text-indent: -1.5em;
        // padding-left: 1.5em;

        &::before {
            color: $colorSub3;
            font-size: 20px;
        }

        &.by-train::before {
            @include fontawesome();
            content: '\f239';
            margin-right: .35em;
        }

        &.by-car::before {
            @include fontawesome();
            content: '\f1b9';
            margin-right: .35em;
            top: 2px;
        }
    }

    p {
        margin-bottom: 0em;
    }
}

