
.hero {
    background-color: $colorMain;
}

.table-news {

    max-width: 980px;
    margin: 3em auto;

    table {

        width: 100%;

        tr {
            border: 1px solid $colorBg;
            
            th {
                white-space: nowrap;
            }

            th, td {
                padding: 1.5em .5em;
            }

            td a {
                color: $colorFont;

                &:hover {
                    color: $colorMain;
                }
            }
        
        }
    
        @media print, screen and (min-width: $breakpoint-tb-up) {
            tr {
                border: 1px solid $colorBg;

                th, td {
                    padding: 1.5em 2em;
                }
            }


        }
    }
    

}


//パンフレットダウンロード
.pdf-list.pamphlet-pdf {
    // border: 1px solid red;
    padding: 0em 1em 3em 1em;
    margin-top: -1em;

    a{
        margin: 0 auto;
        padding: 2.5em 0;
        max-width: 1140px;
        text-align: center;
        
        border: 1px solid $colorMain;
        border-radius: 2px;
        
        background: url('.././img/pdf_icon.png') no-repeat right 5% center;
        background-size: 45px 52px;
        background-color: $colorWhite;

        @media (max-width: $breakpoint_tb) {
            //background-size: 30px 35px;
            max-width: 502px;
        }
    }
}