/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  font-size: 16px;
}

body {
  font-family: $fontBase;
  position: relative;
  letter-spacing: 0.05em;
}

img {
  margin   : 0 auto;
  padding  : 0;
  max-width: 100%;
  height   : auto;
  display  : block;
  //vertical-align: bottom;
}

////////////////////////////////
//   h2  見出し   //////////////
////////////////////////////////

h2 {
  @include fontSize(25);
  position: relative;
  max-width: 275px;
  margin: 0 auto;
  text-align: center;

  &::before {
    position :absolute;
    content: '';
    top: 50%;
    left: 0%;
    width: 40px;
    height: 2px;
    background-color: $colorFont;
    transform: translateY(-50%);
  }

  &::after {
    position :absolute;
    content: '';
    top: 50%;
    right: 0%;
    width: 40px;
    height: 2px;
    background-color: $colorFont;
    transform: translateY(-50%);
  }
}

h3,h4 {
  @include fontSize(20);
  margin-bottom: 1em;
}


////////////////////////////////
//   h3  見出し   //////////////
////////////////////////////////

h3.double-underbar {
  position: relative;
  @include fontSize(25);
  padding: .2em 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 5px solid $colorBg;
  max-width: 580px;
  

  &::before {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 20%;
    min-width: 150px;
    height: 4px;
    background-color: $colorMain;
    z-index: 2;
  }
  
}

h3.underbar-heading {
  margin-bottom : 1em;
  padding: 1em 0 1em 1.5em;
  border: 2px solid $colorMain;
  position: relative;
 
  span.span-heading {
    display: block;
    font-weight: normal;
    @include fontSize(14);
    color: lighten($colorFont, 50%);
    margin-top: -.2em;
  }

  &::before {
    position: absolute;
    content: '';
    bottom: .4em;
    left: .5em;
    width: 6px;
    height: 80%;
    background-color: $colorMain;
  }

}

h3.number-heading {
    position: relative;
    overflow: hidden;
    padding: .25em .5em 0.5em 85px;
    word-break: break-all;
    border-top: 3px solid #00A440;
    border-radius: 10px 0 0 0;
    margin-bottom: 1em;

    span {
      font-size: 25px;
      position: absolute;
      top: 0px;
      left: 0;
      display: block;
      padding: 3px 20px;
      color: #fff;
      border-radius: 10px 0 20px 10px;
      background: $colorMain;
    }
}



a {
  // @include link-color(adjust-hue($colorMain, 45deg));
  @include link-color($colorMain);
  transition     : 0.5s;
  text-decoration: none;
  display        : block;
  word-break     : break-all; //URL英文字の折り返し
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

li {
  list-style: none;
}

.dib {
  display: inline-block;
}








