
.container {
    max-width: 1280px;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-pc) {
        padding: 0 1em;
    }

    &-main {
        padding: 0;
        margin-top: 4em;

        h2{
            text-align: center;
            margin-bottom: 2em;
        }

        @media screen and (max-width: $breakpoint-pc) {
            padding: 0em 1em;
        }
    }


    &-no-padding {
        padding: 0;
    }
}



aside {
    background-color: $colorBg;
    margin-top: 4em;

    ul {

        padding: 2em 0;

        @media screen and (min-width: $breakpoint-tb-up) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            li {
                flex-basis: 50%;
                flex-shrink: 0;
                max-width: 530px;
            }

        }

        li {

            padding: 1em;

            a{
                border: 1px solid $colorMain;
                text-align: center;
                padding: 2.5em;
                background-color: $colorWhite;
                max-width: 500px;
                margin: 0 auto;
    
            }

        } 
            
    }
}

.contents-box {
    margin: 0 auto 3em auto;
    max-width: 980px;
}

///////////////////////////////////////////////////////////
//////    ページタイトル   ////////////////////////////////
///////////////////////////////////////////////////////////

.pagetitle {
    background-color: $colorMain;
    background-image: url('../img/title_bg.jpg');
    background-position: center 23%;
    background-size: cover;
    background-repeat: no-repeat;
    

    .container {
        // max-width: 1280px;
        width: 100%;
        height: 250px;
        position: relative;




    }

    .title-text {

        position: absolute;
        top:50%;
        left: 50%;
        width: 250px;
        transform: translate(-50%, -50%);
        z-index: 5;

        h2 {
            color: $colorWhite;
            
    
            &::after, &::before {
                background-color: $colorWhite;
            }
        }
    }

}


.pdf-list {
    // border: 1px solid red;
    padding: 0 1em;

    li {
        margin-bottom: 1.5em;
    }

    a{
        margin: 0 auto 1em auto;
        padding: .5em 0;
        max-width: 960px;
        border: 2px solid $colorFont;
        border-radius: 4px;
        color: $colorFont;

        @media (max-width: 400px) {
            font-size: 14px;
        }

        &:hover {
            background-color: #f0fbf5;
            border-color: $colorMain;
            color: $colorMain;
        }
        
        dl {
            display: flex;

            dt, dd {
                padding: 1em;
                margin: 0;
                text-align: center;
                width: 40%;
            }
    
            dd {
                background: url('.././img/pdf_icon.png') no-repeat right 5% center;
                background-size: 45px 52px;
                width: 60%;
                border-left: 1px solid $colorFont;

                @media (max-width: $breakpoint_tb) {
                    background-size: 30px 35px;
                }
            }
        }
    }
}

