
.container {
    max-width: 1280px;
    margin: 0 auto;

    @media screen and (max-width: $breakpoint-pc) {
        padding: 0 1em;
    }

    &-main {
        padding: 2em 0;

        h2{
            text-align: center;
            margin-bottom: 2em;
        }

        @media screen and (max-width: $breakpoint-pc) {
            padding: 2em 1em;
        }
    }


    &-no-padding {
        padding: 0;
    }
}



aside {
    background-color: $colorBg;

    ul {

        padding: 2em 0;

        @media screen and (min-width: $breakpoint-tb-up) {
            display: flex;
            flex-wrap: wrap;

            li {
                flex-basis: 50%;
                flex-shrink: 0;
            }

        }

        li {

            padding: 1em;

            a{
                border: 1px solid $colorMain;
                text-align: center;
                padding: 2.5em;
                background-color: $colorWhite;
                max-width: 500px;
                margin: 0 auto;
    
            }

        } 
            
    }
}

//仮css
.photo-space{
    padding: 2em;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ddd;
}


.pdf-list {
    // border: 1px solid red;
    padding: 0 1em;

    a{
        margin: 0 auto 1em auto;
        padding: .5em 0;
        max-width: 960px;
        border: 1px solid $colorFont;
        border-radius: 2px;
        

        dl {
            display: flex;

            dt, dd {
                padding: 1em;
                margin: 0;
                text-align: center;
                width: 40%;
            }
    
            dd {
                background: url('/img/pdf_icon.png') no-repeat right 5% center;
                background-size: 45px 52px;
                width: 60%;
                border-left: 1px solid $colorFont;

                @media (max-width: $breakpoint_tb) {
                    background-size: 30px 35px;
                }
            }
        }
    }

}

