header {
    font-size: 16px;
    .container-header {
        display: flex;
        justify-content: space-between;

        @media print, screen and (max-width: $breakpoint-pc) {
            padding-left: 1em;
        }

        .logo-area {

            padding-top: .5em;

            &-img {
                max-width: 230px;
                margin-bottom: .85em;
            }

            h1 {
                font-size: 12px;
                margin: 0;
            }

        }

        .font-size-area{
            background-color: $colorBg;
            min-width: 225px;
            padding: 1em 0em .5em 1.5em;
        }
    
        .font-size-title{
            margin: 0 0 .5em 0;
            text-align: center;
            font-size: 14px;
        }
    
        .font-size-button {
            background-color: #fff;
            border-color: $colorMain;
            font-size: 16px;
            width: 85px;
            border-radius: 6px;
            outline: none;
            padding-top: 5px;
    
            &:hover {
                opacity: .8;
            }
        }
    
        .font-size-button.active {
            color: #fff;
            background-color: $colorSub3;
        }
    }

    nav {
        background-color: $colorMain;

        ul {
            li a {
                color: $colorWhite;
                font-weight: bold;
                @include fontSize(16);
            }
        }
    }

    @media print, screen and (min-width: $breakpoint_tb_up) {
        nav {
            ul {
                display: flex;
                padding: 0;

                li {
                    width: 20%;
                    text-align: center;

                    a {
                        padding: 1em 0;
                    }
                }
                

                li.current {
                    background-color: $colorSub;
                    color: $colorMain;

                    a {
                        color: $colorMain;
                    }
                }
            }
        }
    }


}