
.hero {
  background-color: $colorMain;

   .hero-image {
    overflow: hidden;
    position: relative;

      .ofi-img {
        width: 100%;
        height: 650px;
        object-fit: cover;
        object-position: center 32%;
        font-family: 'object-fit: cover; object-position: center 32%;';
      }

      .hero-image-text {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 100%;
        height: auto;
        transform: translate(-50%, -50%);
        padding: 0 1em;
        z-index: 2;

        .hero-image-text-inner {
          padding: 1.5em 1em 1.5em 1em;
          background-color: rgba($colorWhite, 0.85);
          max-width: 650px;
          margin: 0 auto;
          transform: scaleX(0);
          transform-origin: left;

          @media only screen and (max-width: $breakpoint-tb) {
            max-width: 400px;
            padding: .5em .5em .5em .5em;
          }

              p {
              font-size: 32px;
              margin: 0;
              font-weight: bold;
              text-align: center;
              opacity: 0;

                @media only screen and (max-width: $breakpoint-tb) {
                  font-size: 20px;
                }
              }
        }
      }

      .hero-image-circle {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 7.5%;
        left: 0;

        .hero-image-circle-inner {
          max-width: 980px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

          &-child {
            width: 30%;
            flex-basis: 30%;
            background-color: rgba(#000, 0.35);
            padding: .5%;
            border-radius: 50%;
            border: 2px solid rgba($colorWhite, 1.0);
          }
        }

        .hero-image-circle-left {
          opacity: 0;
        }
        .hero-image-circle-center {
          opacity: 0;
        }
        .hero-image-circle-right {
          opacity: 0;
        }
      }
   }
}


.hero.animation-start {

  .ofi-img {
    animation: sclaleBig 10s linear 0s forwards;
  }

  .hero-image-text-inner {
    animation: widthLong .5s ease-out 4s forwards;
    p {
      animation: opacity .3s linear 4.5s forwards;
    }
  }

  .hero-image-circle-left {
    animation: opacity .7s linear 1s forwards;
  }
  .hero-image-circle-center {
    animation: opacity .7s linear 2s forwards;
  }
  .hero-image-circle-right {
    animation: opacity .7s linear 3s forwards;
  }

}

@keyframes sclaleBig {
  100% {
    transform: scale(1.15, 1.15);
  }
}

@keyframes widthLong {
  100% {
    transform: scaleX(1.0);
  }
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
}

