// 幅関係の設定--------------------------------

$widthBase: 1280px; //全体
$widthMain: 1280px; //メインエリア
$widthSide: 360px; //サイドバーエリア

// フォント関連の設定

$fontBase: 'Noto Serif JP', 'Roboto', 'Droid Sans', 'Arial', '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', sans-serif;
//$fontBase: 'Noto Serif JP', 'Roboto', 'Droid Sans', 'Arial', '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', sans-serif;
$fontBase2: "ヒラギノ角ゴ ProN", "Hiragino kaku Gothic ProN", "メイリオ", sans-serif;

// 色関連の設定

// サイトカラー
$colorMain: #00A440;
$colorSub: #FFFD98;
$colorSub2: #F18F01;
$colorSub3: #006E90;
$colorWhite: #fff;
$colorCopyright: #006D2A;


//仮サイトカラー本番削除
// $colorMain: #9d9d9d;
// $colorSub: #d5d5d5;
// $colorSub2: #F18F01;
// $colorSub3: #909394;
// $colorWhite: #fff;

//背景色
$colorBg: #e1e1e2;

 // フォントカラー
$colorFont: rgb(25, 25, 25);

//ボーダーカラー
$colorBorder: #504946;

